@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Lato|Pontano+Sans|Roboto');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
body{  background-color:whitesmoke;
  font-family: 'Yantramanav', sans-serif;
  font-size: 105%;
}

nav {margin-top: 10px;
border-bottom: 1px solid #8CB4AC; padding: 10px;text-align: right;}

.boxes {
  display: flex;
  flex-wrap:wrap;
}
svg {width:100%;}


.port img {
  margin-bottom: 12px;
}

.box {
  width:30%;
}
.bottom {
  width:70%;
}

nav a {color:#8CB4AC;padding: 10px; text-align: right;}
nav a:hover{font-weight: bold;color:  #83C8B8;}
header {
  padding-bottom: 10px;
  margin-bottom: 40px;
  width:80%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #8CB4AC;
}

main {
  clear:both;
  margin-bottom: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#laad {
  display: none;
}

h5{
  font-size: 70%;
  margin-top: 5px;
}

path {
  stroke-dasharray: 2500;
  stroke-dashoffset: 2500;
  animation: dash 10s ease-in forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.cls-1 {
  fill: none;
  stroke-width: 4;
  nd;
  stroke-miterlimit: 10;
}

.cel {
  border: 6px solid whitesmoke;
  box-sizing: border-box;
}

button {
  margin-top: 10px;
  cursor: pointer;
  color:#8CB4AC;padding: 10px;
  border-bottom: 1px solid #8CB4AC; padding: 10px;
}

.port {margin-bottom: 80px;}
h2{
  font-family: 'Cutive Mono', monospace;
  text-transform: uppercase;
}
h3{
  margin-top: 8vw;
  font-family: 'Cutive Mono', monospace;
}
h4 {
  font-size: 105%;
  margin-top: 20px;
}
button a{color:#8CB4AC;}
button a:hover{color:#8CB4AC;}
footer {
  width: 72%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media(max-width:1145px){
  .bottom{width: 100%;
  }
  h3{
      margin-top: 1vw;
  }
}
